Step 1: CSA Basic Info -> Step 2: CSA Farm Info -> Step 3: Additional Vendor Info

<h1> Step 1: Fill out your CSA's basic info.</h1>	

The first step to create your CSA is to provide some basic information and write a description. <br/>
<% form_for :csa, :url => csas_path do |f| -%>
	<p><%= label_tag 'CSA Name' %>: 
	<%= f.text_field :name %></p>
	
	<p>
	<%= label_tag "Describe your CSA. Include as much detail as you like." %> View a <a href="sample.htm">CSA description sample here.</a><br />
	<%= f.text_area :description %></p>

  <!-- Put in the Partial Code that generates an address field and contact info... -->
  <!-- CSA contact email ex: info@greenpointcsa.com -->
	<p><%= label_tag "Email Contact" %> 
	<%= f.text_field :email %></p>

	<p><%= label_tag "Phone Contact" %>
	<%= f.text_field :phone %></p>
	
	<p><%= label_tag "City" %>
	<%= f.text_field :city %></p>

	<p><%= label_tag "Neighborhood" %> 
	<%= f.text_field :neighborhood %></p>

	<p><%= label_tag "State" %> 
	<%= f.text_field :state %></p>

<p><%= submit_tag 'Go to Step 2: Set Up Your Farm' %></p>
<% end -%>
