<h1><%= @csa.name %></h1>
<p>Manager: <%= @csa.manager %></p>
<p><strong>Description</strong><br/>
<%= @csa.description %></p>

<p><strong>Members</strong><br/>
<%= @csa.members.length %></p>

<p><strong>Offerings</strong><br/>
<% for offering in @csa.offerings %>
  <%= offering %><br />
<% end %>
</p>
<h4>Edit your CSA:</h4>
<ul>
  <li>
    <%= link_to 'add provider',  new_csa_offering_url(@csa) %>
  </li>
    <li>
    <%= link_to 'edit csa info',  edit_csa_url(@csa) %>
  </li>
</ul>

<script type="text/javascript">
$(document).ready(function() {
	$('#tabinterface').tabs();
});
</script>

<!-- >
<h2>Calendar</h2>
[place holder for CSA calendar of events]
[place holder for "Create new Event" button]
<h4>
	<p>Weeks until season begins  _______ </p>	
	<p>Deposit Due Date: XX/XX/XX</p>
	<p>Full Payment Due Date: XX/XX/XX</p>
	
<h3>
	<p>Upcoming Events</p>
</h3>

	<p> Pot Luck at Jo's Place'</p>
	<p> June 1st</p>
	<hr>
	<p> Farm Visit</p>
	<p> June 2nd</p>
	<hr>
	<p> Apple picking</p>
	<p> June 2nd</p>
	<hr>
	<p> PICKUP DAY</p>
	<p> June 7th</p>
	<hr>
	<p> PICKUP DAY</p>
	<p> June 14thth</p>
	<hr>
	
</h4>


<h2>Work</h2>
[place holder for workshift Calendar]
[place holder for "manage your workshifts" button]
<h3>
	<p>There are ___ open shifts that need to be filled at this weeks Pickup</p>
	<p>Three week workshift outlook</p>
	<p>There are ___ members who have signed up to work but not yet worked <a href="#">email them</a></p>
	<p>There are ___ members who have not signed up to work <a href="#">email them</a></p>	
</h3>
-->
