<h1><%= @csa.name %></h1>

<div id="posts">
	<p><strong>About Our CSA</strong> [<%= link_to 'edit CSA description',  edit_csa_url(@csa) %>]
	<br/>
	<%= @csa.description %></p>
	
	<p><strong>Current Members</strong> [<%= link_to 'view members list',  csa_members_url(@csa) %>]<br/>
	<%= @csa.members.length %></p>

	<p><strong>Our Offerings</strong> [<%= link_to 'add new offering',  new_csa_offering_url(@csa) %>]
		<ul>
		<% for offering in @csa.offerings %>
			<li><%= offering.vendor.name %> [<%= link_to 'edit offering',  edit_offering_url(offering) %>] </li>
				<ul>
					<li>No Deposit: <%= offering.depositless_shares.count %></li>
					<li>Deposit Received: <%= offering.deposit_received_shares.count %></li>
					<li>Paid: <%= offering.paid_shares.count %></li>
				</ul>
			<% end %>
		</ul>
	</p>

	<!--<p><strong>Our Membership Agreement</strong> [<%= link_to 'edit membership agreement',  edit_csa_url(@csa) %>] <br />
	<%= @csa.agreement %> <br/>
	[<%= link_to 'review sign-up process',  member_signup_url(@csa) %>]
    </p>-->

	

</div>

<!-- Create a side bar with percent set-up and links for key actions-->
<!-- Put this information on a sidebar for this information here-->
<!-- create a sidebar for this information here-->

<div id="links">
	<h3><strong>Next Steps</strong></h3>

	<!-- create a sidebar for this information here-->
	<h4><strong>Add Members to Your CSA</strong></h4>
	<ul>
	  <li>
	    <%= link_to 'edit membership agreement',  edit_csa_url(@csa) %>
	  </li>
	  <li>
<!--	    <%= link_to 'upload list of members',  new_csa_offering_url(@csa) %>   
-->
			<a href="nopage.html">upload list of members</a>
	  </li>
	  <li>
<!--	    <%= link_to 'review sign-up process',  member_signup_url(@csa) %>
-->
		<a href="nopage.html">review sign-up process</a>
	  </li>
	  <li>
<!--	    <%= link_to 'invite members',  new_csa_offering_url(@csa) %>
-->
		<a href="nopage.html">invite members</a>
	  </li>
	  <li>
	    <%= link_to 'add new member',  csa_add_member_url(@csa) %>
	  </li>	
	  <li>
	    <%= link_to 'manage membership list',  csa_members_url(@csa) %>
      </li>
	<br/>

	<h4><strong>Edit Your CSA</strong></h4>
	<ul>
	  <li>
	    <%= link_to 'add new offerings',  new_csa_offering_url(@csa) %>
	  </li>
	  <li>
	    <%= link_to 'edit CSA information',  edit_csa_url(@csa) %>
	  </li>
	</ul>

	<br/>
	
	<h4><strong>CSA Information</strong></h4>
	<ul>
		 
		<li><strong>Email:</strong> <%= @csa.email %></li>
		<li><strong>Phone:</strong> <%= @csa.phone %></li>
		<li><strong>City:</strong> <%= @csa.city %></li>
		<li><strong>Neighborhood:</strong> <%= @csa.neighborhood %></li>
		<li><strong>State:</strong> <%= @csa.state %></li>
		<li><strong>Manager:</strong> <%= @csa.manager %></li>
		<li>[<%= link_to 'Edit CSA Information',  edit_csa_url(@csa) %>]</li>
		
	</ul>
</div>


<script type="text/javascript">
$(document).ready(function() {
	$('#tabinterface').tabs();
});
</script>

<!-- >
<h2>Calendar</h2>
[place holder for CSA calendar of events]
[place holder for "Create new Event" button]
<h4>
	<p>Weeks until season begins  _______ </p>	
	<p>Deposit Due Date: XX/XX/XX</p>
	<p>Full Payment Due Date: XX/XX/XX</p>
	
<h3>
	<p>Upcoming Events</p>
</h3>

	<p> Pot Luck at Jo's Place'</p>
	<p> June 1st</p>
	<hr>
	<p> Farm Visit</p>
	<p> June 2nd</p>
	<hr>
	<p> Apple picking</p>
	<p> June 2nd</p>
	<hr>
	<p> PICKUP DAY</p>
	<p> June 7th</p>
	<hr>
	<p> PICKUP DAY</p>
	<p> June 14thth</p>
	<hr>
	
</h4>


<h2>Work</h2>
[place holder for workshift Calendar]
[place holder for "manage your workshifts" button]
<h3>
	<p>There are ___ open shifts that need to be filled at this weeks Pickup</p>
	<p>Three week workshift outlook</p>
	<p>There are ___ members who have signed up to work but not yet worked <a href="#">email them</a></p>
	<p>There are ___ members who have not signed up to work <a href="#">email them</a></p>	
</h3>
-->
