<h1><%= @csa.name %></h1>
<p>Manager: <%= @csa.manager %></p>
<p><strong>Description</strong><br/>
<%= @csa.description %></p>
  
<h2>Members</h2>

<table border="1">
<tr>
	<th>Member</th>
	<th>Share</th>
	<th>Payment</th>
	<th>Edit Payment</th>
</tr>
	
	<% Member.members_for_csa(@csa).each do |member| %>
	
		<% shares = member.user.shares %>
	
		<tr>
			<td><%= member.user.name %></td>
			<td>
				<table>
				
				<% shares.each do |share| %>

					<% if share.offering.csa.id == @csa.id %>
	
						<tr>
							<td><%= share.offering.to_s %></td>
						</tr>	

					<% end %>

				<% end %>
				
				</table>
				
			</td>
			<td>
				<table>
				
				<% shares.each do |share| %>
				
					<tr>
						<td>

							<% if share.paid %>
								Paid
							<% elsif share.deposit_received %>
								Deposit Received
							<% else %>
								No deposit
							<% end %>
							
						</td>
					</tr>

				<% end %>
				
				</table>
				
			</td>
			<td>
				<table>
				
				<% shares.each do |share| %>
				
					<tr>
						<td>
							[<%= link_to 'edit status', edit_share_url(share) %>]
						</td>
					</tr>

				<% end %>
				
				</table>
				
			</td>	
			
			
		</tr>

	<% end %>

</table>

<p><%= link_to 'add another offering', new_csa_offering_url(@csa) %></p>