<h1><%= @csa.name %></h1>
<p><%= @csa.description %>Manager: <%= @csa.manager %></p>



<div id="offerings">  
<h2>Offerings</h2>

<% @csa.offerings.each do |offering| %>

<div class="offering">
	<h3><%= offering %></h3>
    <h4>No Deposit</h4>
    <% if offering.depositless_shares.blank? %>
    	<p><em>none</em></p>
    	<% else %>
		<ul>
    	<% for share in offering.depositless_shares %>
    	<li>User: <%= share.user %> [<%= link_to 'edit status', edit_share_url(share) %>]</li>
    	<% end %>
     	</ul>
    <% end %>
   
	<h4>Deposit Received</h4>
    <% if offering.deposit_received_shares.blank? %>
      <p><em>none</em></p>
    <% else %>
      <ul>
      <% for share in offering.deposit_received_shares %>
        <li>User: <%= share.user %> [<%= link_to 'edit status', edit_share_url(share) %>]</li>
      <% end %>
      </ul>
    <% end %>
    
	<h4>Paid</h4>
    <% if offering.paid_shares.blank? %>
      <p><em>none</em></p>
    <% else %>
      <ul>
      <% for share in offering.paid_shares %>
        <li>User: <%= share.user %> [<%= link_to 'edit status', edit_share_url(share) %>]</li>
      <% end %>
      </ul>
    <% end %>

  </div>
<% end %>
</div>

<%= link_to 'add another offering', new_csa_offering_url(@csa) %>


<div class="tabletitle">
<table>
<tr>
	<td class="tbname">Member</th>
	<td class="tbshare">Share</th>
	<td class="tbpayment">Payment Status</th>
<tr>
</table>
</div>

<div class="tablewrapper">
<table>
<tr>
	<td class="tbname">Noah</td>
	<td class="tbshare">
		<table>
			<tr>
				<td>Farm Share</td>
			</tr>	
			<tr>
				<td>Eggs Share</td>
			</tr>
			<tr>
				<td>Share of Strange Foods from Denmark</td>
			</tr>
		</table>
	</td>
	<td class="tbpayment">
		<table>
				<tr>
					<td>Paid</td>
				</tr>	
				<tr>
					<td>Deposit</td>
				</tr>
				<tr>
					<td>Interested</td>
				</tr>
					
			</table>
	</td>
</tr>
</table>
</div>

<div class="tablewrapper">
<table>
<tr>
	<td class="tbname">T-dubs</td>
	<td class="tbshare">
		<table>
			<tr>
				<td>Farm Share</td>
			</tr>	
			<tr>
				<td>Eggs Share</td>
			</tr>
			<tr>
				<td>Share of Strange Foods from Denmark</td>
			</tr>
		</table>
	</td>
	<td class="tbpayment">
		<table>
				<tr>
					<td>Paid</td>
				</tr>	
				<tr>
					<td>Deposit</td>
				</tr>
				<tr>
					<td>Interested</td>
				</tr>
					
			</table>
	</td>
</tr>
</table>
</div>

<div class="tablewrapper">
<table>
<tr>
	<td class="tbname">Rune</td>
	<td class="tbshare">
		<table>
			<tr>
				<td>Farm Share</td>
			</tr>	
			<tr>
				<td>Eggs Share</td>
			</tr>
			<tr>
				<td>Share of Strange Foods from Denmark</td>
			</tr>
		</table>
	</td>
	<td class="tbpayment">
		<table>
				<tr>
					<td>Paid</td>
				</tr>	
				<tr>
					<td>Deposit</td>
				</tr>
				<tr>
					<td>Interested</td>
				</tr>
					
			</table>
	</td>
</tr>
</table>
</div>

