<h3>Update Membership Info</h3>
<% form_for @membership, :url  => membership_url(@membership), :method => :put do |f| %>
	<p><%= label_tag "Deposit Received?" %><%= f.check_box :deposit_received %></p>
	
	<p><%= label_tag "Paid?" %><%= f.check_box :paid %></p>
	
	<p><%= submit_tag 'Update membership' %></p>
<% end %>


<h3>Update User Personal Info</h3>
<p><em>Warning: this will change the user's address and email for them for all CSAs.</em></p>
<% form_for @membership.user, :url  => user_url(@membership.user), :method => :put do |f| %>
	<%= render :partial => 'users/form', :locals => {:f => f} %>
	<p><%= submit_tag 'Save user info' %></p>
<% end %>