

<%= render :partial => 'users/form', :locals => {:f => f} %>

<p><strong><%= label_tag 'password' %></strong>
<%= f.password_field :password %> (6 character minimum)</p>

<p><strong><%= label_tag 'password_confirmation', 'Confirm Password' %></strong>
<%= f.password_field :password_confirmation %></p>
