<p><%= label_tag 'name' %>
<%= f.text_field :name %></p>
<p>
  <%= label_tag 'email' %>
  <%= f.text_field :email %>
</p>
<p>
  <%= label_tag 'phone' %>
  <%= f.text_field :phone %>
</p>
<p>
  <%= label_tag 'Address (line 1)' %>
  <%= f.text_field :address_1 %>
</p>
<p>
  <%= label_tag 'Address (line 2)' %>
  <%= f.text_field :address_2 %>
</p>
<p>
  <%= label_tag 'City' %>
  <%= f.text_field :city %>
  <%= label_tag 'State' %>
  <%= f.text_field :state %>

</p>
<p>
  <%= label_tag 'Zipcode' %>
  <%= f.text_field :zip %>
</p>

