<!DOCTYPE html>
<html>
<head>
		<title>Farmbridge</title>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js" ></script>
    <script>
      $(window).load(function () {
       // $("div.optional").hide();
        $("div.optional").toggleClass("hidden");
        $("h4.optional").prepend('<a href="#" class="optional">&gt;</a> ');
        $("a.optional").click(function(){
          $("div.optional").toggleClass("hidden");
          return false;
        });
      });
    </script>
    <style>
      div.hidden{
        display:none;
      }
    </style>

  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>

</head>
<body>
	
	<div id="container">
	
		<div id="header">
			<a href="#">
				<h1>
					<% if logged_in? %>
						<% csa = Member.managed_csa_for_user(current_user) 
						if !csa.blank? %>
							<%= link_to csa.name, csa_url(csa) %>
						<% end %>
					<% else -%>
						FarmBridge
					<% end -%>
				</h1>
			</a>
			<h2><% if logged_in? -%>
			  <div id="user-bar-greeting">Logged in as <%= link_to_current_user :content_method => :login %></div>
			  <div id="user-bar-action"  >(<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)</div>

			<% else -%>
			  <div id="user-bar-greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
			  <div id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :title => "Log in" } %> /
			                              <%= link_to "Sign up", signup_path, { :title => "Create an account" } %></div>
			<% end -%></h2>
		</div>
	


		<div id="menu">
			<ul>
				
				<% if logged_in? %>
					<% csa = Member.managed_csa_for_user(current_user) 
					if !csa.blank? %>
						<li><%= link_to "My CSA", csa_url(csa) %></li>
					<% end %>
				<% end %>
				
				<% if logged_in? %>
				<li><%= link_to "My Profile", current_user %></li>
				<% end %>
				
				<!-- <li><a href="#" accesskey="2" title="">My Profile</a></li>
				<li><a href="#" accesskey="3" title="">People</a></li>
				<li><a href="#" accesskey="4" title="">Manager Panel</a></li> -->
			</ul>
		</div>
	
		<div id="content">
			
			<% if flash[:notice] %>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>
			
			<% if flash[:error] %>
				<div id="error">
					<%= flash[:error] %>
				</div>
			<% end %>
			<%= yield %>
		</div>
			

			<!-- This is the SIDEBAR -->
				<!-- <div id="links">
					<ul>
						<li>
							<h2>Sidebar</h2>
							<ul>
								<li>______________</li>
							</ul>
						</li>
					</ul>
				</div> 
				-->

			<div style="clear: both;">&nbsp;</div>
		</div>
		</div>
		</div>
<!-- This is the FOOTER -->
<!-- <br style="clear:both" /> -->

		<div id="footer">
			<p>FarmBridge</p>
		</div>
		
	</div>

</body>
</html>
