<!DOCTYPE html>
<html>
<head>
  <title>Farmbridge</title>

<!-- A CSA LOGO HERE -->

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>
  <h1>Farm Bridge</h1>

<!-- Log In/Out -->
<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as <%= link_to_current_user :content_method => :login %></div>
  <div id="user-bar-action"  >(<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)</div>
<% else -%>
  <div id="user-bar-greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
  <div id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :title => "Log in" } %> /
                               <%= link_to "Sign up", signup_path, { :title => "Create an account" } %></div>
<% end -%>


<!-- This is the universal nav-bar for common tasks-->

<p>My CSA <!-- News/Updates, Everything About My CSA -->
| My Profile<!-- Manage My Subscription, Edit User Info, Change Account Settings -->
| People<!-- Everyone In The Same CSA -->
| Manage CSA<!-- Only Appears On Logged Managers's Session -->



<!-- This is the MAIN -->
<div id="main">
  <%= yield %>
</div>





</body>
</html>
